{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>FootyNet - Home</title>
  </head>
  <body>
    <h1>Welcome to FootyNet!</h1>
    <p>Please select an option:</p>
    <ul>
      <li>
        <a href="/pitches">
          <img src="/images/pitch.jpg" alt="Book a Pitch">
          <br>Book a Pitch
        </a>
      </li>
      <li>
        <a href="/leagues">
          <img src="/images/league.jpg" alt="Create/Join a League">
          <br>Create/Join a League
        </a>
      </li>
      <li>
        <a href="/teams">
          <img src="/css/team.png" alt="Create/Join a Team">
          <br>Create/Join a Team
        </a>
      </li>
      <li>
        <a href="/profile">
          <img src="/images/profile.jpg" alt="Profile">
          <br>Profile
        </a>
      </li>
    </ul>
  </body>
</html> --}}

{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>FootyNet - Home</title>
    <style>
      .option {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
      .option img {
        width: 200px;
        height: auto;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to FootyNet!</h1>
    <p>Please select an option:</p>
    <div class="row">
      <div class="col-md-6">
        <div class="option">
          <a href="/pitches">
            <img src="/css/book.jpeg" alt="Book a Pitch">
            <br>Book a Pitch
          </a>
        </div>
        <div class="option">
          <a href="/leagues">
            <img src="/css/league.jpeg" alt="Create/Join a League">
            <br>Create/Join a League
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="option">
          <a href="/teams">
            <img src="/css/team.png" alt="Create/Join a Team">
            <br>Create/Join a Team
          </a>
        </div>
        <div class="option">
          <a href="/profile">
            <img src="/css/profile.jpeg" alt="Profile">
            <br>Profile
          </a>
        </div>
      </div>
    </div>
  </body>
</html> --}}

{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>FootyNet - Home</title>
    <style>
      .option {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
      }
      .option img {
        width: 300px;
        height: auto;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to FootyNet!</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="option">
          <a href="/pitches">
            <img src="/css/book.jpeg" alt="Book a Pitch">
            <br>Book a Pitch
          </a>
        </div>
        <div class="option">
          <a href="/leagues">
            <img src="/css/league.jpeg" alt="Create/Join a League">
            <br>Create/Join a League
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="option">
          <a href="/teams">
            <img src="/css/team.png" alt="Create/Join a Team">
            <br>Create/Join a Team
          </a>
        </div>
      </div>
    </div>
  </body>
</html> --}}

<!DOCTYPE html>
<html>
  <head>
    <title>FootyNet - Home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Welcome to FootyNet!</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="option">
          <a href="/pitches">
            <img src="/css/book.jpeg" alt="Book a Pitch">
            <div class="overlay">
              <div class="text">Book a Pitch</div>
            </div>
          </a>
        </div>
        <div class="option">
          <a href="/leagues">
            <img src="/css/league.jpeg" alt="Create/Join a League">
            <div class="overlay">
              <div class="text">Create/Join a League</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="option">
          <a href="/teams">
            <img src="/css/team.png" alt="Create/Join a Team">
            <div class="overlay">
              <div class="text">Create/Join a Team</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>