
<!DOCTYPE html>
<html>
  <head>
    <title>FootyNet - Home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Welcome to FootyNet!!</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="option">
          <a href="/match">
            <img src="/css/book.jpeg" alt="Book a Pitch">
            <div class="overlay">
              <div class="text">Schedule Match/Book a Pitch</div>
            </div>
          </a>
        </div>
        <div class="option">
          <a href="/leagues">
            <img src="/css/league.jpeg" alt="Create/Join a League">
            <div class="overlay">
              <div class="text">Create/Join a League</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="option">
          <a href="/teams">
            <img src="/css/team.png" alt="Create/Join a Team">
            <div class="overlay">
              <div class="text">Create/Join a Team</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>