<!DOCTYPE html>
<html>
  <head>
    <title>FootyNet - Leagues</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Leagues</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="option">
          <a href="/leagues/new">
            <img src="/css/super.jpeg" alt="Create a League">
            <div class="overlay">
              <div class="text">Create a League</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="option">
          <a href="/leagues/join">
            <img src="/css/UEFA.jpeg" alt="Join a League">
            <div class="overlay">
              <div class="text">Join a League</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="option">
          <a href="/leagues/update">
            <img src="/css/update.jpeg" alt="Update Match Results">
            <div class="overlay">
              <div class="text">Update Match Results</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>


