<!DOCTYPE html>
<html>
  <head>
    <title>FootyNet - Create New League</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Create New League</h1>
    <form action="/leagues/new" method="POST">
      <label for="leagueName">League Name:</label>
      <input type="text" id="leagueName" name="leagueName" required>
      <button type="submit">Create League</button>
    </form>
  </body>
</html>
