<!DOCTYPE html>
<html>
  <head>
    <title>FootyNet - Teams</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Create/Join Team</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="option">
          <a href="/teams/new">
            <img src="/css/create.jpeg" alt="Create a Team">
            <div class="overlay">
              <div class="text">Create a Team</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="option">
          <a href="/teams/join">
            <img src="/css/ronaldo.jpeg" alt="Join a Team">
            <div class="overlay">
              <div class="text">Join a Team</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>